<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Track - {{ titulo }}</title>
</head>
<body>
<sectio>
    <ul>
        {% for song in songs %}
        <li>
            <a href="{{ song.get_absolute_url }}">{{ song.title }}</a>
            {% if song == selected_song %} =========== {% endif %}
        </li>{% endfor %}
        <li><a href="/tracks/happy">happy</a></li>
    </ul>
    <p>
        Title: {{ tracks.title }}
    </p>
    <p>
        Order: {{ tracks.order }}
    </p>
    <p>
        File: {{ tracks.track_file }}
    </p>
    <p>
        Album: {{ tracks.album }}
    </p>
    <p>
        Artist: {{ tracks.artist }}
        Biography : {{ tracks.artist.biography }}
    </p>
</sectio>
</body>
</html>